@font-face{
  font-family: 'sharpgrotesk';
  src: url('/assets/font/SharpGrotesk-Bold20.otf');
  font-weight: bold;
}
@font-face{
  font-family: 'sharpgrotesk';
  src: url('/assets/font/SharpGrotesk-SemiBold15.otf');
  font-weight: 200;
}
@font-face{
  font-family: 'sharpgrotesk';
  src: url('/assets/font/SharpGrotesk-SemiBold20.otf');
  font-weight: 400;
}

@font-face{
  font-family: 'sharpgrotesk';
  src: url('/assets/font/SharpGrotesk-Book15.otf');
  font-weight: 100;
}